<html>

<head>
  <title>Kontext</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script type="text/JavaScript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" language="javascript">
    $(document).ready(function () {
      $('#zoom').show();
      $('#zoom_config').show();
      $("#zoom_config_form").submit(function (event) {
        var cooked = { 'zoom': $('input[name=zoom_string]').val() };
        // send via ajax
        $.ajax({
          url: '/api/v1/kontext/zoom',
          type: 'POST',
          dataType: 'json',
          encode: true,
          data: JSON.stringify(cooked),
          contentType: "application/json; charset=utf-8",
          success: function (result) {
            $('#zoom').html('<p>' + 'Host ID entered: ' + cooked.zoom + '</p>');
            $('#zoom').show();
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text)
            $('#zoom').html('<p>Error configuring zoom: ' + text + '</p>');
            $('#zoom').show();
          }
        });
        event.preventDefault();
      });
    });
  </script>
</head>

<body>
  <div class="container">


  <img src='/static/favicon.png'>


  <div class="row">
    <div class="col-4">
    <h1>Kontext</h1>
  </div>
  <div class="col-8"></div>
  </div>

  <div class="row">
    <div class="col-7">
      <h3 id="zoom" style="background-color:#eee;">Enter Zoom User ID</h3>
      <div id="zoom_config" style="display: none; background-color:#eee;">
        <form id="zoom_config_form" action="/api/v1/kontext/zoom" method="post">
          <input type="text" name="zoom_string" size="40" placeholder="Zoom User ID" class="form-control"/>
          <input type="submit" id="Zoom_config_submit" />
        </form>
      </div>
    </div>
  <div class="col-5">
    <h3>Existing Rooms</h3>
    <ul class="list-group">
      {% for room in existing_rooms %}
        <a href="{{room}}">{{room}}</a>
      {% endfor %}
    </ul>
  </div>
</div>


</div>


</html>
<!--
# vi: ft=html
-->
